<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link href="https://bootswatch.com/5/slate/bootstrap.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <title>Cupcakes</title>
  </head>
  <body>
    <h1 class="text-center">cupcakes</h1>

    <div class="container" >
      <form id="search-form" action="/api/cupcakes" class="form-horizontal">

        {{ searchForm.hidden_tag() }}
      
        {% for field in searchForm if field.widget.input_type != "hidden" %}
        <div class="form-group">
      
          <p>
            {{ field.label(class_="form-label mt-4")}}
            {{ field(class_="form-control") }}
      
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
          </p>
          {% endfor %}
        </div>
        <button class="btn btn-primary" type="submit" id="create-cupcake">Search</button>
      </form>
    </div>

    <div class="container">
        <ul id="cupcake-list">
        <!-- put stuff here -->
        </ul>
    </div>


    <div class="container" >
      <form id="cupcake-form" action="/api/cupcakes" class="form-horizontal">

        {{ cupcakeForm.hidden_tag() }}
      
        {% for field in cupcakeForm if field.widget.input_type != "hidden" %}
        <div class="form-group">
      
          <p>
            {{ field.label(class_="form-label mt-4")}}
            {{ field(class_="form-control") }}
      
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
          </p>
          {% endfor %}
        </div>
        <button class="btn btn-primary" type="submit" id="create-cupcake">Add</button>
      </form>
    </div>


  </body>
  <script src="http://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="../static/main.js"></script>
</html>
